@*@model System.Data.Entity.Infrastructure.DbQuery<SimpleCMS.DataLayer.Category>*@
@model List<SimpleCMS.DataLayer.Category>
@foreach (var cat in Model)
{
    <li><a href="#" class="tm-color-primary">@cat.Name</a></li>
    <ul>
        @foreach (var subcat in cat.SubCategories)
        {
            <li><a href="#" class="tm-color-primary">@subcat.Name</a></li>
        }
    </ul>
}