@*@model System.Data.Entity.Infrastructure.DbQuery<SimpleCMS.DataLayer.Category>*@
@model List<SimpleCMS.DataLayer.Category>
@foreach (var cat in Model)
{
    <li><a href="/cat/@cat.CategoryId" class="tm-color-primary">@cat.Name</a></li>
    <ul>
        @foreach (var subcat in cat.SubCategories)
        {
            <li class="ml-5"><a href="/subcat/@subcat.SubCategoryId" class="tm-color-primary">@subcat.Name</a></li>
        }
    </ul>
}